<div class="container py-5">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">Technologie webowe</a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/angular">Angular</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/react">React</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/vue">Vue</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>


  <div class="row justify-content-center align-items-center g-2 my-3">
      <div class="col-1"></div>
      <div class="col-10">
          <div class="card border-secondary">
              <div class="card-body">
                  <router-outlet></router-outlet>
                  
              </div>
          </div>

      </div>
      <div class="col-1"></div>
  </div>




</div>