<div class="card">
    <div class="card-header">Vue</div>
    <div class="card-body">
        <p>Otwartoźródłowy framework do aplikacji webowych typu front-end, oparty na języku JavaScript oraz modelu
            Model-View-Controller. Został stworzony przez programistę Evan You i obecnie jest rozwijany przez utworzony
            przez niego zespół programistów.

            Według badań przeprowadzonych przez serwis Stack Overflow w latach 2021 i 2022, Vue.js było jednym z
            najczęściej używanych frameworków do aplikacji webowych przez programistów.</p>
    </div>
</div>